<h2>Services</h2>
<div class="gridish mobile-centered">
{{#if @artist.serviceGroups}}
{{#each @artist.serviceGroups as |sg|}}
  <div class="card">
    <h3>{{sg.name}}</h3>
    <ul>
    {{#each sg.services as |service|}}
      <li>{{{service.name}}} - ${{service.price}} {{if service.requiresConsultation '**'}}</li>
    {{/each}}
    </ul>
  </div>
{{/each}}
{{else}}
  <p>please <LinkTo @route="contact">contact us</LinkTo> for service details and to book an appointment</p>
{{/if}}
</div>