<ul class="main-menu" local-class="menu">
  {{yield}}
  <li>
    <a href="#book-now" class="book-now">book online</a>
  </li>
  <li>
    <div class="dropdown">
      <@mmw.LinkTo @route="services" class="dropbtn">
        services {{fa-icon 'angle-down'}}
      </@mmw.LinkTo>
      <div class="dropdown-content">
        <MobileMenu::LinkTo @route="services.styling">styling</MobileMenu::LinkTo>
        <MobileMenu::LinkTo @route="services.color">color</MobileMenu::LinkTo>
        <MobileMenu::LinkTo @route="services.spa">spa</MobileMenu::LinkTo>
        <MobileMenu::LinkTo @route="services.nails">nails</MobileMenu::LinkTo>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <MobileMenu::LinkTo @route="minneapolis" class="dropbtn">minneapolis {{fa-icon 'angle-down'}}</MobileMenu::LinkTo>
      <div class="dropdown-content">
        {{#each @minneapolisArtists as |artist|}}
          <MobileMenu::LinkTo @route="profile" @model={{artist.slug}}>{{artist.name}}</MobileMenu::LinkTo>
        {{/each}}
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <MobileMenu::LinkTo @route="saint-paul" class="dropbtn">st paul {{fa-icon 'angle-down'}}</MobileMenu::LinkTo>
      <div class="dropdown-content">
        {{#each @stpaulArtists as |artist|}}
          <MobileMenu::LinkTo @route="profile" @model={{artist.slug}}>{{artist.name}}</MobileMenu::LinkTo>
        {{/each}}
      </div>
    </div>
  </li>
  <li>
    <MobileMenu::LinkTo @route="retail">retail products</MobileMenu::LinkTo>
  </li>
  <li>
    <div class="dropdown">
      <MobileMenu::LinkTo @route="contact">contact {{fa-icon 'angle-down'}}</MobileMenu::LinkTo>
      <div class="dropdown-content">
        <a href="sms://+16515048529‬">Text us!</a>
        <a href="tel://+16516994959">Call us!</a>
        <a href="sms://+16515048529‬?&body=I%27m%20here%20for%20my%20appointment%20with%20[your service provider]">Text us that your here</a>
      </div>
    </div>
  </li>
  <li>
    <a href="https://shop.petitesalon.com" target="petite-shop">
      shop
    </a>
  </li>
</ul>